
body{
  margin: 0;
  background-color: rgb(244, 240, 235);
  color: black;
}

.navbar{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 10%;
  background-color: rgba(222, 183, 93, 0.21);
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.69);
  padding: 10px 0px 10px 20px
}

.navbar img {
  width: 90px;
  height: auto;
  padding-right: 10px;
}

.navlink{
  color: black;
}

.navlink:hover{
  color: rgb(10, 48, 48);
}

.footer {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 2%;
  background-color: rgba(222, 183, 93, 0.21);
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.69);
}

.footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.69);
  font-style: italic;
  margin: 10px 30px 10px 20px; 
}

.footer a:hover {
 color:rgba(0, 0, 0, 0.80)
}

.sidebar{
  display: flex;
  flex-direction: column;
  justify-content:right;
  align-items: center;
  height: 100%;
  width: 180px;
  z-index: 1;
  background-color: rgba(222, 183, 93, 0.21);
}

.sidebar a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.69);
  padding-bottom: 15px;
}

.sidebar a:hover{
  color:rgba(0, 0, 0, 0.80)
}

.rental-card{
  backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(10px);
  background-color: #eae4e47c;
  border: 1px solid rgba(0, 0, 0, 0.125);  
  padding: 38px;  
  height: 425px; 
}

.rental-card:hover{
  box-shadow: inset;
}

.rental-card img{
  height: 300px;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 70vh; 
  width: 430px;
  margin-right: 20px;
  
}

.rendered-description{
  margin-top: 0;
}



.new-item,.form-button{
  width: 150px;
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(222, 183, 93, 0.21);
  color: #333;
  border: 1px solid #6c6a6a;

  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.new-item-container{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 20px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form label {
  display: block;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

form input {
  display: block;
  margin-top: 5px;
  width: 300px;
  margin-bottom: 25px;
}

.form-button{
  margin-bottom: 190px;
}
