
body{
  margin: 0;
  background-color: rgb(244, 240, 235);
  color: black;
}

.navbar{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 10%;
  background-color: rgba(222, 183, 93, 0.21);
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.69);
  padding: 10px 0px 10px 20px
}

.navbar img {
  width: 90px;
  height: auto;
  padding-right: 10px;
}

.navlink{
  color: black;
}

.navlink:hover{
  color: rgb(10, 48, 48);
}

.footer {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 2%;
  background-color: rgba(222, 183, 93, 0.21);
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.69);
}

.footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.69);
  font-style: italic;
  margin: 10px 30px 10px 20px; 
}

.footer a:hover {
 color:rgba(0, 0, 0, 0.80)
}

.sidebar{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 180px;
  z-index: 1;
  gap: 20px;
}

.sidebar a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.69);
  padding-bottom: 15px;
}

.sidebar a:hover{
  color:rgba(0, 0, 0, 0.80)
}

.list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 40px ;
    margin-bottom: 35px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  width: 300px;
  background-color: #eae4e47c;
  border: 1px solid rgba(0, 0, 0, 0.125);  
  padding: 15px;  
  height: 355px; 
  border-radius: 10px;
}

.card:hover{
  box-shadow: inset;
}

.card img{
    width: 300px;  
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px;  
}

.detail-card{
  display: flex;
  justify-content: center;
  padding: 100px;  
  border-radius: 10px;
}

.detail-card img{
  width: 500px;  
  height: auto; 
  object-fit: cover; 
  border-radius: 2px;  
  margin-right: 80px;
}

.img-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.details-container{
  font-size: 1.5rem;
  position: right;
}

.rendered-description{
  margin-top: 0;
}


.new-item,.form-button {
  width: 150px;
  padding: 15px;
  margin-top: 20px;
  background-color: rgba(222, 183, 93, 0.21);
  color: #333333e2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.see-details-btn{
  width: 90px;
  padding: 8px;
  background-color: rgba(222, 183, 93, 0.21);
  color: #333333e2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons-container{
  display: flex;
  gap: 15px;
}

.new-item-container{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 20px;
}

.delete-button{
  border: none;
  color: #c5481fdb;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form label {
  display: block;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

form input {
  display: block;
  margin-top: 5px;
  width: 300px;
  margin-bottom: 25px;
}

.form-button{
  margin-bottom: 190px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;
  gap: 30px; 
  padding: 20px;
  flex-wrap: wrap; 
  text-align: center;
  
}

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f9f9f9;
  width: 200px;
  text-align: center;
}

.social-links {
  display: flex;
  gap: 35px; 
  margin-top: 10px;
  
}

.social-links a {
  color: #333; 
  transition: color 0.3s ease-in-out;
}

.social-links a:hover {
  color: #0a66c2; 
}

.social-links a:nth-child(1):hover {
  color: #878787; 
}
